
<h1>Events calendar</h1>

<%= link_to 'Create event', action: :new ,remote: true %>

<!-- Remove the following image tag and add the markup to create a basic weekly calendar 
<%= image_tag 'events_calendar', width: '100%' %>
-->

<div class="calendar clearfix">

	<table class="table table-bordered">
		<thead>
			<tr>
				<%-@this_weeks_calendar.each do |day_name, date_details| %>
			  <th>
			  	<%= day_name %>
			  	<div class="sub-header"><%= date_details[:details] %></div>
			  </th>
				<%end%>
			</tr>
		</thead>
		<tbody>			
		 <tr>
		 	<%-@this_weeks_calendar.each do |_day_name, date_details| %>
		 		<td class="content" day-month="<%= date_details[:date] %>"></td>
		 	<%end%>
		 </tr>	
		</tbody>
  </table>
</div>

<%= render partial: 'dialog'  %>